.siteBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 95vh;
  width: 350px;
  background-color: #4d4df8;
  border-radius: 15px;
  text-align: center;
}
.siteBar h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
}
.siteBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inf:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}
.inf {
  font-size: 20px;
  background-color: #f3f3f5;
  padding: 20px;
  margin-bottom: 11px;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.act {
  background-color: #aca7a0;
}
.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: rgb(230, 24, 41);
  border-radius: 25px;
  position: relative;
  transform: all 0.3s ease;
  padding: 5px;
  color: white;
}
.toggle .on {
  background-color: #4caf50;
}
.toggleBtn {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}
.toggle .on .toggleBtn {
  left: calc(100%-50px);
}
.toggleLabel {
  margin-left: 10px;
  font-size: 16px;
}
