.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.userinf {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border-radius: 10px;
  border: 3px solid #2121c5;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  width: 30rem;
  padding: 20px;
  align-items: center;
}
.userinf img {
  height: 10rem;
}
.userinf p {
  font-size: 20px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.userinf a {
  border-bottom: 2px solid red;
}

.chinf {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chanel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.chan {
  display: flex;
  flex-direction: row;
}
