form {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: auto;
  height: 10rem;
  border-radius: 10px;
  background-color: #fdfdff;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  color: rgb(8, 8, 8);
}
.itemForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  width: 10rem;
  height: 8rem;
  border-radius: 10px;
  word-wrap: break-word;
  text-align: center;
}
.itemForm label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.itemForm input {
  border-radius: 10px;
  outline: none;
  border: 1px solid #000000;
  width: 5rem;
  font-size: 15px;
  margin-bottom: 0.5rem;
}
form button {
  background-color: #2121c5;
  margin-right: 5px;
  color: white;
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}
form button:hover {
  background-color: #1c255a;
}
.sb {
  background-color: #ff0000;
  margin-right: 5px;
  color: white;
  padding: 5px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}
.sb:hover {
  background-color: #830808;
}
