.chan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #2121c5;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 70rem;
  padding: 2px;
}
